@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    overscroll-behavior: none;
  }

  @media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }

  html {
    font-size: 14px;
  }

  html.inverted {
    filter: invert(1);
  }

  body {
    @apply bg-black text-white relative min-h-dvh lowercase;
    color-scheme: dark;
    font-display: swap;
    font-family: "Source Code Pro", monospace;
  }

  *:focus {
    @apply ring-0 outline-none border-none;
  }
}

@layer components {
  #canvas {
    @apply fixed inset-0 w-screen h-screen z-10;
  }

  #legend {
    @apply pointer-events-none fixed right-4 top-4 z-20 select-none font-mono text-[11px] leading-5 text-white/65;
  }

  #legend div {
    @apply flex gap-3;
  }

  #legend span {
    @apply w-10 shrink-0 text-white/40;
  }
}
