@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    overscroll-behavior: none;
  }

  html {
    font-size: 14px;
  }

  html.inverted {
    filter: invert(1);
  }

  body {
    @apply bg-black text-white relative min-h-dvh lowercase;
    color-scheme: dark;
    font-display: swap;
    font-family: "Source Code Pro", monospace;
  }

  h1 {
    @apply tracking-wide font-[650] text-[14px] leading-none;
  }

  p {
    @apply leading-none opacity-70;
  }

  header {
    @apply bg-gradient-to-b from-[#100900aa] to-transparent p-6 h-96 transition-[height] flex justify-between;
  }

  main {
    @apply grid grid-rows-[min-content,1fr,min-content] relative z-20 min-h-dvh overflow-hidden;
    perspective: 4000px;
  }

  nav {
    @apply flex self-end w-full;
  }

  footer {
    @apply flex items-end p-6;
  }

  footer ul {
    @apply flex flex-row gap-4 flex-wrap w-full;
  }

  footer ul li {
    @apply relative overflow-visible;
  }

  footer ul li:not(:has(a)) {
    @apply flex items-center px-2.5 py-0.5;
  }

  *:focus {
    @apply ring-0 outline-none border-none;
  }

  footer ul li:not(:has(a)):hover::before,
  footer ul li:not(:has(a)):has(button:focus)::before {
    @apply blur-[2px] transition-[filter,border-color] duration-200;
  }

  footer ul li:not(:has(a))::before {
    @apply absolute inset-0 border border-white rounded-full content-[''] pointer-events-none;
  }

  #cloud li,
  footer ul li:has(a) {
    @apply relative text-left pl-5;
  }

  #cloud li:hover a,
  footer ul li:has(a):hover a {
    @apply underline underline-offset-2;
  }

  #cloud li:hover::before,
  footer ul li:has(a):hover::before {
    @apply bg-white;
  }

  #cloud li::before,
  footer ul li:has(a)::before {
    @apply absolute left-0 top-2 w-2 h-2 border border-white bg-transparent;
    content: "";
  }

  li > a {
    @apply font-normal text-base tracking-tight whitespace-nowrap;
  }

  canvas {
    @apply fixed inset-0 w-screen h-screen z-10 pointer-events-none;
  }

  #star {
    @apply w-7 h-7 flex items-center justify-center bg-white rounded-full text-black ml-auto;
  }

  #cloud ul {
    @apply flex flex-col gap-1 items-start;
  }
}
