@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    overscroll-behavior: none;
  }

  html {
    font-size: 14px;
  }

  body {
    @apply dark:text-white dark:bg-black bg-[#eed3f7] text-[#3200FF] relative min-h-dvh;
    color-scheme: dark;
    font-display: swap;
    font-family: "Source Code Pro", monospace;
  }

  h1 {
    @apply tracking-wide font-[650] text-[14px] uppercase leading-tight;
  }

  h2 {
    @apply font-black text-4xl tracking-tight pb-2 text-left;
  }

  header {
    @apply bg-gradient-to-b dark:from-[#100900aa] to-transparent p-6 dark:h-96 h-[50vh] transition-[height] flex justify-between;
  }

  main {
    @apply grid grid-rows-[min-content,1fr,min-content] relative z-20 min-h-dvh overflow-hidden;
    perspective: 4000px;
  }

  nav {
    @apply flex self-end;
  }

  footer {
    @apply flex items-end p-6;
  }

  footer ul {
    @apply flex flex-row gap-2 flex-wrap;
  }

  footer ul li {
    @apply flex items-center relative px-2.5 py-0.5;
  }

  *:focus {
    @apply ring-0 outline-none border-none;
  }

  footer ul li:hover::before,
  footer ul li:has(a:focus)::before {
    @apply blur-[2px] transition-[filter,border-color] duration-200;
  }

  footer ul li::before {
    @apply absolute inset-0 border dark:border-white border-[#3200FF] rounded-full content-[''] pointer-events-none;
  }

  li {
    @apply overflow-visible;
  }

  li > a {
    @apply font-normal text-base tracking-tight whitespace-nowrap;
  }

  canvas {
    @apply fixed inset-0 w-screen h-screen z-10 pointer-events-none;
  }

  #star:has(button:focus),
  #star:hover {
    @apply [&_svg]:animate-[spin_3s_infinite_linear];
  }

  #star {
    @apply h-[28px] flex items-center justify-center px-5 dark:bg-white rounded-full dark:text-black;
  }

  #cloud {
    @apply sm:static fixed bottom-32 right-6;
  }

  #cloud ul {
    @apply pr-6 h-1/2;
  }

  #cloud li {
    @apply relative text-right;
  }

  #cloud li:hover a {
    @apply underline underline-offset-2;
  }

  #cloud a:hover::before {
    @apply dark:bg-white bg-[#3200FF];
  }

  #cloud a::before {
    @apply absolute top-2 -right-[18px] w-2 h-2 border dark:border-white border-[#3200FF] bg-transparent;
    content: "";
  }
}
